{% extends "TransactionalFunctions/base.html" %}

{% load static %}

{% block title %}Testes - Lista{% endblock title%}

{% block content %}

    <br>
    <br>

    <label for="id_functionality_type"> Filtrar por Tipo</label>
    <select name="functionality_type" id="id_functionality_type" onchange="filter()">
      <option value="" selected="">---------</option>
    
      <option value="EE">EE</option>
    
      <option value="CE">CE</option>
    
      <option value="SE">SE</option>
    
    </select>


    <label for="id_complexity_select"> Filtrar por Complexidade</label>
    <select name="complexity_select" id="id_complexity_select" onchange="filter()">
      <option value="" selected="">---------</option>

      <option value="BAIXA">Baixa</option>

      <option value="MEDIA">Media</option>

      <option value="ALTA">Alta</option>

    </select>

    <br>
    <br>
    <br>

    <table id="table">

        <tr>
            <th onclick="sortTable(0)">Nome da Funcionalidade</th>
            <th onclick="sortTable(1)">Tipo da Funcionalidade</th>
            <th onclick="sortTable(2)">Parâmetro 1 (ALR)</th>
            <th onclick="sortTable(3)">Parâmetro 2 (DER)</th>
            <th onclick="sortTable(4)">Complexidade da Função Transacional</th>
            <th onclick="sortTable(5)">Quantidade de Pontos de Função</th>
            <th onclick="sortTable(6)">Nome do Contador</th>
            <th onclick="sortTable(7)">Data de Cadastramento</th>
        </tr>
        

        {% for object in object_list %}
            <tr>

                <td>{{ object.name }}</td>
                <td>{{ object.get_functionality_type_display }}</td>
                <td>{{ object.ALR_aumount }}</td>
                <td>{{ object.DER_aumount }}</td>
                <td>{{ object.transactional_complexity }}</td>
                <td>{{ object.function_points_aumount }}</td>
                <td>{{ object.counter_name }}</td>
                <td>{{ object.date }}</td>

            </tr>

        {% empty %}
            <tr>
                <td>
                    Nada cadastrado
                </td>
            </tr>
        {% endfor %}
    
    </table>

    <br>
    <br>

    <table id="table_types">

        <tr>
            <th>Tipo</th>
            <th>Quantidade</th>
        </tr>


        {% for name, value in transactions_by_type.items %}
            <tr>

                <td>{{ name }}</td>
                <td>{{ value }}</td>

            </tr>
        {% endfor %}


    </table>

{% endblock content %}


{%block script %}

    <script>
        function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("table");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
            // Start by saying there should be no switching:
            shouldSwitch = false;
            /* Get the two elements you want to compare,
            one from current row and one from the next: */
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /* Check if the two rows should switch place,
            based on the direction, asc or desc: */
            if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
                }
            } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
                }
            }
            }
            if (shouldSwitch) {
            /* If a switch has been marked, make the switch
            and mark that a switch has been done: */
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            // Each time a switch is done, increase this count by 1:
            switchcount ++;
            } else {
            /* If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again. */
            if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
            }
            }
        }
        }

        function filter() {

            let complexity_val = document.getElementById("id_complexity_select").value.toUpperCase();
            let type_val = document.getElementById("id_functionality_type").value.toUpperCase();

            let table = document.getElementById("table");
            let tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (let i = 1; i < tr.length; i++) {

                let show = true;

                let tds = tr[i].getElementsByTagName("td");

                let type_td = tds[1];
                let complexity_td = tds[4];

                if (type_val.localeCompare('') !== 0) {

                    let txtValue = type_td.textContent || type_td.innerText;

                    show = txtValue.toUpperCase().localeCompare(type_val) === 0;
                }

                if (show && complexity_val.localeCompare('') !== 0) {
                    let txtValue = complexity_td.textContent || complexity_td.innerText;

                    show = txtValue.toUpperCase().localeCompare(complexity_val) === 0;
                }

                if(show){
                    tr[i].style.display = "";
                }else{
                    tr[i].style.display = "none";
                }

            }
      }
    </script>
{% endblock script %}

{%  block css %}
    <style>
        table {
          border-spacing: 0;
          width: 100%;
          border: 1px solid #ddd;
        }

        th, td {
          text-align: left;
          padding: 16px;
          border: 1px solid #ddd;
        }

        tr:nth-child(even) {
          background-color: #f2f2f2
        }

        tr:hover {
          background-color: #dddddd;
        }
    </style>
{% endblock css %}